{
	"env": {
		"browser": true,
		"node": true
	},
	"extends": "eslint:recommended",
	"parser": "esprima",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"rules": {
		"comma-dangle": [ "error", "never" ],
		"linebreak-style": [ "warn", "windows" ],
		"no-console": "off",
		"semi": [ "error", "always" ],
		"quotes": [ "error", "double" ]
	}
}